* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: calc(50% - 20px);
    padding: 10px;
    height: 450px; /* Should be removed. Only for demonstration */
    border: 2px solid #ccc; /* Add a border: style, width, and color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for depth */
    background-color: #fff; 
    border-radius: 10px;
    margin: 10px;
    overflow-y: auto;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  